.Python
*.env
__pycache__
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/
.idea/*
.DS_Store
.tox/
pokemon_wiki.db-journal
firebase.json
.pytest_cache
venv/
web/
stock_peformace.py
stock_price.py
stock_tool.py
yf_tool.py

#K's inv
LINE/

# yw
ngrok
task_chart.png